<!DOCTYPE html>
<html>
<head>
  <title>Optimyze</title>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header class="header">
    <nav class="header-nav group">

      <h1 class="header-logo">
        <%= link_to "Optimyze", "/" %>
      </h1>

      <ul class="header-list group">
        <% if signed_in? %>
          <li><%= current_user.username %><li>
          <li><%= button_to "Sign Out", session_url, :method => :delete %>
        <% else %>
          <li><%= link_to "Sign In", new_session_url %></li>
          <li><%= link_to "Sign Up", new_user_url %></li>
        <% end %>
      </ul>

    </nav>
  </header>

  <%= flash[:errors].join("<br>").html_safe if flash[:errors] %>

  <%= yield %>

</body>
</html>
